*{margin: 0;padding: 0;}
body a:visited{color: #227ED5;}
  .container {
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}
.wraper {
  position: fixed;
  height: 44px;
  width: 100vw;
  z-index: 998;
}
.header {
  justify-content: space-between;
  position: fixed;
  display: flex;
  background-color: #000000ba;
  backdrop-filter: blur(6px);
  color: white;
  justify-content: center;
  align-items: center;
  width: 100vw;
  z-index: 998;
}
.logo {
  height: 8vh;
  /* padding: 7px 0; */
  align-self: center;
}
.menu__list {
  cursor: pointer;
  align-items: center;
  width: auto;
  display: flex;
  gap: 50px;
  user-select: none;
  list-style: none;
  margin: 0;
  padding: 0 40px;
}
.menu {
  width: max-content;
  z-index: 150;
}

.call-form {
  display: flex;
  gap: 6px;
  font-size: clamp(1vw, 22px, 3vw);
}
.callImg{
    width: 1.2vw ;
  }
#call-form {
  cursor: pointer;

  font-weight: 400;
  color: white;
}

#call-form:visited {
  color: white;
}
.menu__item {
  font-size: clamp(16px, 3vw, 24px);
  font-weight: 400;
}
.menu__item a:visited {
  color: white;
}

#slider {
  display: none;
}
#burger {
  height: 2vh;
  display: none;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: #fbfbfd;
  overflow: hidden;
  /* margin: auto auto; */
  position: fixed;

}
.mobileMenu ul{
   margin-top: 30%;
}
.mobileMenu li {
  list-style: none;
  padding: 25px;
  font-size: 22px;
  text-align: center;
 
}

#closeMenu {
  height: 3vh;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
#closeAnket1 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
}

 /* ------------Strat Media------------ */
 @media (max-width: 1200px){
  .header li {
    display: none;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  #burger {
    display: flex;
    flex-direction: row-reverse;
    order: 3;
    padding: 0 40px;
    width: 100px;
  }
  .logo {
    width: 10%;
    order: 1;
  }
  .call-form {
    width: 100px;
    order: 2;
    font-size: clamp(4svw, 24px, 5vw);
  }
 
  #call-form{
    width: 180%;
  }
  .callImg{
    transform: scale(3);
    padding-right: 10px;
  }
  .mobileMenu li{
    font-size: 3.5rem;
  }
  .show {
  display: flex;
}
.mobileMenu ul{
   margin-top: 30%;
}
  }

  /* -----------------End Media----------------- */

/* --------------end header------------- */
.map{width: 98.5vw;height:82vh;
position: relative; }

#map{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 101%;
}


/* --------------Forms--------------- */

/*  */
.wraper-anket{ 
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
   background-color: #fbfbfd;
   display: flex;
   justify-content: center;
   align-items: center;
   display: none;
}
.section {
     height: 100vh;
    /* max-width: 375px; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wraper-anket1{ 
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
   background-color: #fbfbfd;
   display: flex;
   justify-content: center;
   align-items: center;
   display: none;
}
.section-1 {
     height: 100vh;
    /* max-width: 375px; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section9 {
  /* display: flex; */
  position: absolute;
  top: 0;
}




#closeAnket1{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
}
/* ---------footer------------ */
footer{
  box-sizing: border-box;
  background-color: #1D1D1F;

padding: 0 3rem 2rem 3rem ;
  
}
.footer-flex{
  box-sizing: border-box;
  background-color: #1D1D1F;
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 15px;
  gap: 1rem;
}
.footer-flex p{
  margin-left: 8px;
  color: #a1a1a6;
}

.footer-flex>hr{
     background-color: #1D1D1F;
  color: #a1a1a6;
}
#footer-desc{
   background-color: #1D1D1F;
  color: #a1a1a6;
}







  /*--------------Footer-Media--------------  */
@media (max-width: 1200px){
 
  footer{
padding: 0 3rem 2rem 3rem ;
  }
  .footer-flex{
  box-sizing: border-box;
  background-color: #1D1D1F;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  margin-top: 15px;
  gap: 1rem;
}

/* endFooterMedia */

/* CallFormMedia */
label,input{
  font-size: 2rem;
}

/* EndCallFormMedia */

@media (max-width: 992px) {
}
@media (max-width: 768px) {
}

@media (max-width: 480px) {
}

}
/* \\\\\\\\\\\\\\\\\\\\\\End @media\\\\\\\\\\\\\\\\\\\\\\\\\\ */